<div class="head">
    <h1>Dojo Activity Center</h1>
    <a href="/Home">Home</a>
    <a href="/logoff">Log Off</a>
    <hr>
</div>
<div class="infoHead">
    <h2>@ViewBag.ThisActivity.Title</h2>
    @if (ViewBag.ThisActivity.PlannerId == ViewBag.ThisUser.UserId)
    {
        <button><a class="btn" href="/delete/@ViewBag.ThisActivity.ActivityId">Delete</a></button>
    }
    else
    {
        int temp = 0;
        @foreach (var a in ViewBag.AllParticipants)
        {
            if (a.User.UserId == ViewBag.ThisUser.UserId)
            {
                temp = a.ParticipationId;
            }
        }
        @if (temp == 0)
        {
            <button><a class="btn" href="/join/@ViewBag.ThisActivity.ActivityId">Join</a></button>
        }
        else
        {
            <button><a class="btn" href="/leave/@temp">Leave</a></button>
        }
    }
</div>
<div class="info">
    <h3>Event Coordinator: @ViewBag.EventCoordinator.FirstName</h3>
    <h3>Description:</h3>
    <p>@ViewBag.ThisActivity.Description</p>
    <h3>Guests:</h3>
    <ul>
        @foreach (var p in ViewBag.AllParticipants)
        {
            <li>@p.User.FirstName</li>
        }
    </ul>
</div>