<h1 id="title">Welcome to the Dojo Activity Center</h1>
@model IndexViewModel
<form asp-action="TryLogin" asp-controller="Home" method="POST">
    <h2>Login</h2>
    <div class="row">
        <span asp-validation-for="LogUser.Email"></span><br>
        <label asp-for="LogUser.Email"></label>
        <input type="text" asp-for="LogUser.Email">
    </div>
    <div class="row">
        <span asp-validation-for="LogUser.Password"></span><br>
        <label asp-for="LogUser.Password"></label>
        <input type="password" asp-for="LogUser.Password">
    </div>
    <div class="row">
        <input type="submit" value="Log In">
    </div>
</form>
<form asp-action="TryRegister" asp-controller="Home" method="POST">
    <h2>Register</h2>
    <div class="pane">
        <div class="row">
            <span asp-validation-for="RegUser.FirstName"></span><br>
            <label asp-for="RegUser.FirstName"></label>
            <input type="text" asp-for="RegUser.FirstName">
        </div>
        <div class="row">
            <span asp-validation-for="RegUser.LastName"></span><br>
            <label asp-for="RegUser.LastName"></label>
            <input type="text" asp-for="RegUser.LastName">
        </div>
        <div class="row">
            <span asp-validation-for="RegUser.Email"></span><br>
            <label asp-for="RegUser.Email"></label>
            <input type="text" asp-for="RegUser.Email">
        </div>
    </div>
    <div class="pane paneR">
        <div class="row">
            <span asp-validation-for="RegUser.Password"></span><br>
            <label asp-for="RegUser.Password"></label>
            <input type="password" asp-for="RegUser.Password">
        </div>
        <div class="row">
            <span asp-validation-for="RegUser.Confirm"></span><br>
            <label asp-for="RegUser.Confirm"></label>
            <input type="password" asp-for="RegUser.Confirm">
        </div>
        <div class="row">
            <input type="submit" value="Register">
        </div>
    </div>
</form>